name: auto-run run.sh

on:
  workflow_dispatch:
    inputs:
      repo:
        description: 'Repository URL to submit'
        required: true
        default: 'https://github.com/tenchanhe/1141WSM_Final.git'

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
       - name: Submit
         run: |
             curl -k -X POST "https://towel.cs.nccu.edu.tw/wsm/submit/submit" \
              -H "Content-Type: application/json" \
              -d '{"repo\": "${{ github.event.inputs.repo }}"}'