name: Request RAG Evaluation

on:
  workflow_dispatch:
    inputs:
      model:
        description: "Generator model"
        required: true
        default: "llama3.1"

jobs:
  eval:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Evaluation
        run: |
          curl -H "ngrok-skip-browser-warning: true" https://d5d7ef804e70.ngrok-free.app/health
